.registration-page {
	height: 100%;

	.card {
		justify-content: center;
		align-items: center;
		flex-direction: row;
		background-color: $gray;
		height: 100%;
		padding: 16px;
		position: relative;

		&-body {
			background-color: $white;
			border-radius: 8px;
			padding: 32px;
			max-width: 700px;
		}

		.registration-form {
			&__description {
				span {
					text-decoration: underline;
				}
			}

			&__field {
				position: relative;

				.text-hint {
					position: absolute;
					top: 95%;
					font-size: 10px;
				}

				&.error {
					.field {
						border-color: $red;

						&:focus {
							box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
						}
					}

					.text-hint {
						color: $red;
					}
				}
			}

			.form-footer {
				.wrapper {
					gap: 32px;
				}

				&__text {
					font-size: 12px;
					color: $dark_gray;
				}
			}
		}
	}

	.toast {
		position: absolute;
		right: 16px;
		bottom: 16px;
		visibility: hidden;

		&.show {
			visibility: visible;
			opacity: 1;
			transition: all ease-in-out;
			animation: fadein 0.5s, fadeout 0.5s 2.5s;
		}
	}
}

@keyframes fadein {
	from {
		transform: translateY(16px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		transform: translateY(0px);
		opacity: 1;
	}
	to {
		transform: translateY(16px);
		opacity: 0;
	}
}